
<div class="response-message" 
        style="color: #FF1493; 
        font-size: 60px;
        text-align: center;
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        ">
  <%= @response_message[:response] %>
</div>

